*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(5, 100px); */
    /* grid-template-columns: 2fr 1fr; */
    grid-template-columns: 100px 150px;
    /* grid-template-rows: 100px 150px; */
    /* grid-row-gap: 20px;
    grid-column-gap: 20px; */
    grid-gap: 20px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: auto;
    border: 10px solid #db92db;
}

.grid-item{
    background-color: #db92db;
    border: 4px solid #767676;
    padding: 20px;
}